# Imports And Libraries

In [6]:
from square.client import Client
import os
import pandas as pd

from google_sheets import *

# import pandas as pd
from boto import get_square_secret

# import os
import pickle

# Generic Functions

In [2]:
def get_value(key1,key2):
    try:
        return key1[key2] 
    except:
        return None

# Get Existing Subs

In [3]:
SAMPLE_SPREADSHEET_ID_input = '1K_uXqI1eiguBMr0uH3Tu7xDzePAIi3uAsDrAWukyBq8'
SAMPLE_RANGE_NAME = 'Square Subs!A:G'

exist = get_spread_sheet(SAMPLE_SPREADSHEET_ID_input, SAMPLE_RANGE_NAME)

# Get Data of most Recent Sub

In [4]:
dates = exist[exist['Date'].str.contains('T')]

most_recent_transaction_date = pd.to_datetime(dates['Date'], format='mixed').max().isoformat()

most_recent_transaction_date

'2023-09-10T20:15:23+00:00'

# Get New Subs

In [7]:
client = Client(
    access_token=get_square_secret()['SQUARE_ACCESS_TOKEN'],
    environment='production')

In [8]:
orders_api = client.orders
customers_api = client.customers

In [9]:
most_recent_transaction_date

'2023-09-10T20:15:23+00:00'

In [14]:
body = {
    'location_ids': [
        'SBBJSGR24YHYB'
    ],
    'query': {
        'filter': {
            
            'date_time_filter': {
                'updated_at': {
                    'start_at': f'2023-09-06T20:15:23+00:00',
                }
            },
      # "state_filter": {
        # "states": [
        #   "COMPLETED"
        # ]
      # }
       },
    "sort": {
      "sort_field": "UPDATED_AT",
      "sort_order": "DESC"
    }
        
    },
   }

In [15]:
s_orders = orders_api.search_orders(body).body['orders']

len(s_orders)

357

#  Get All Invoices

In [16]:
invoices_api = client.invoices


result = invoices_api.list_invoices(
    'SBBJSGR24YHYB'
)

invoices = pd.DataFrame(result.body['invoices'])

i=1
while result.cursor:
    print(i)
    i+=1
    result = invoices_api.list_invoices(
        'SBBJSGR24YHYB',
        cursor = result.cursor
    )
invoices = pd.concat([invoices, pd.DataFrame(result.body['invoices'])])
invoices

1
2

,id,version,location_id,order_id,payment_requests,primary_recipient,invoice_number,title,description,scheduled_at,status,timezone,created_at,updated_at,accepted_payment_methods,delivery_method,sale_or_service_date,store_payment_method_enabled,public_url,next_payment_amount_money
0,inv:0-ChDKYvPVrRG6pCpBzngISHdQEIMP,1,SBBJSGR24YHYB,hrvB92DS41uvA7C6znatRYqfebeZY,[{'uid': 'a93dbe83-18e2-4d88-9877-59a5fa6156df...,"{'customer_id': '17C7YC49EWVW1CYAYMVVF0W3DM', ...",2023-09-11_Vets_hrvB92DS41uvA7C6znatRYqfebeZY_1,Match Subs 09 Sep vs Motspur Park Vets,Match Subs 09 Sep vs Motspur Park Vets,2023-09-12T10:00:00Z,SCHEDULED,Europe/London,2023-09-11T09:35:07Z,2023-09-11T09:35:32Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,2023-09-11,False,NaN,NaN
1,inv:0-ChDxYEB6eZy2R00BCKPOhYATEIMP,1,SBBJSGR24YHYB,Zz3GjoR9FjgIFjbFDOMr7cshM1HZY,[{'uid': 'de98a2f8-13e9-4a41-a188-1e66ee5edf10...,"{'customer_id': '9JF8RAVFSN5TAY187PRHRA6NN0', ...",2023-09-11_Vets_Zz3GjoR9FjgIFjbFDOMr7cshM1HZY_1,Match Subs 09 Sep vs Motspur Park Vets,Match Subs 09 Sep vs Motspur Park Vets,2023-09-12T10:00:00Z,SCHEDULED,Europe/London,2023-09-11T09:35:06Z,2023-09-11T09:35:32Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,2023-09-11,False,NaN,NaN
2,inv:0-ChAUYaWPDIpFEK28jW7EDSHwEIMP,1,SBBJSGR24YHYB,BXBNO2Laj2uA8B8sRbKDeRbBey6YY,[{'uid': 'd8c2d065-95cb-4d77-9ff3-2d541d9f2ba7...,"{'customer_id': 'MJCB0H07T5VYS60WTN6KQZ4QJR', ...",2023-09-11_Vets_BXBNO2Laj2uA8B8sRbKDeRbBey6YY_1,Match Subs 09 Sep vs Motspur Park Vets,Match Subs 09 Sep vs Motspur Park Vets,2023-09-12T10:00:00Z,SCHEDULED,Europe/London,2023-09-11T09:35:05Z,2023-09-11T09:35:31Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,2023-09-11,False,NaN,NaN
3,inv:0-ChBvpmoww5AxIGwaF8oa3887EIMP,1,SBBJSGR24YHYB,5TFDsWVa3tDEHYu4zKjh5W0pxdCZY,[{'uid': 'a429cf63-4200-49b2-86bc-8a3ceab630de...,"{'customer_id': 'JRZK4X3HBXF6EZRACGQ24JZQ58', ...",2023-09-11_5_5TFDsWVa3tDEHYu4zKjh5W0pxdCZY_1,Match Subs 09 Sep vs Wandsworth 5s,Match Subs 09 Sep vs Wandsworth 5s,2023-09-12T10:00:00Z,SCHEDULED,Europe/London,2023-09-11T09:35:04Z,2023-09-11T09:35:30Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,2023-09-11,False,NaN,NaN
4,inv:0-ChDwlM95rons1XoJG5fZJ9knEIMP,1,SBBJSGR24YHYB,jMfnQcteCjTj8c6ZOHIB5fczWnAZY,[{'uid': 'd6e7e7ee-8815-4d01-aad5-23becd2803b4...,"{'customer_id': 'C5R3MNHYABZ0B92S9NZYNNVGRR', ...",2023-09-11_5_jMfnQcteCjTj8c6ZOHIB5fczWnAZY_1,Match Subs 09 Sep vs Wandsworth 5s,Match Subs 09 Sep vs Wandsworth 5s,2023-09-12T10:00:00Z,SCHEDULED,Europe/London,2023-09-11T09:35:03Z,2023-09-11T09:35:30Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,2023-09-11,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,inv:0-ChAxyXkM34z5Rr_hR1qcghr3EIMP,2,SBBJSGR24YHYB,J8M3Q8SQJERA16Tyz8YWTyueV,[{'uid': 'ec717fdb-a9fd-431a-9ee6-69e76da24af1...,"{'customer_id': '0HTAK3MQ28S69A5KBCTZ8HKHC0', ...",000008,,,NaN,PAID,Europe/London,2023-06-01T17:45:39Z,2023-06-05T06:19:45Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,NaN,False,https://squareup.com/pay-invoice/inv:0-ChAxyXk...,NaN
24,inv:0-ChAMb2fmrMLIoY-QsyhO607cEIMP,4,SBBJSGR24YHYB,TBKQ9UN9lcEcTA52W7S6HcpeV,[{'uid': 'dce09c3e-dc3c-4b3b-a399-313acb7090dd...,"{'customer_id': '4KEVYTZKFD01B4NE8KA0N1X8Q4', ...",000007,,,NaN,PAID,Europe/London,2023-06-01T17:45:00Z,2023-06-02T11:03:53Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,NaN,False,https://squareup.com/pay-invoice/inv:0-ChAMb2f...,NaN
25,inv:0-ChBSYVNkiKpyEQslJ1DOvhaHEIMP,3,SBBJSGR24YHYB,N0B8KtXp70Qg6VikEGxGHxveV,[{'uid': '58ed6fef-84c4-4a40-8323-94be5b2f0315...,"{'customer_id': 'C3S5WM4AS12RD0CZQ6DS8QBDN4', ...",000005,,,NaN,PAID,Europe/London,2023-06-01T17:26:29Z,2023-06-01T17:28:31Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,NaN,False,https://squareup.com/pay-invoice/inv:0-ChBSYVN...,NaN
26,inv:0-ChCP7LR57_FEOKwBMVQB0odAEIMP,2,SBBJSGR24YHYB,JMwfRq0FXCGcZqDPMquKfS6eV,[{'uid': '3891f092-3070-40e1-a0f1-6c50091dca46...,"{'customer_id': 'M2WN0A8Z056ECKKPCZ3M1GY88R', ...",000003,,,NaN,PAID,Europe/London,2023-05-25T11:45:50Z,2023-06-01T16:07:29Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,NaN,False,https://squareup.com/pay-invoice/inv:0-ChCP7LR...,NaN
27,inv:0-ChB0tNVL-I0Wtmqf4RS8QWAKEIMP,3,SBBJSGR24YHYB,VYznRiXAvWXZ8pr6bmEyCV6eV,[{'uid': 'fe60c25b-df0e-40f2-b8d7-5bbbab3df9e3...,"{'customer_id': 'BYJH2ZRDSH122PJHGD2CWW0ZRR', ...",000002,,,NaN,PAID,Europe/London,2023-05-25T11:43:05Z,2023-06-02T15:00:46Z,"{'card': True, 'square_gift_card': False, 'ban...",EMAIL,NaN,False,https://squareup.com/pay-invoice/inv:0-ChB0tNV...,NaN

# Format new subs and get customer names

In [17]:
orders_format = []
for i, order in enumerate(s_orders[:]):
    
    print(i, '/', len(s_orders))
    new_order = {}
    
    new_order['id']=get_value(order,'id')
    new_order['created_at']=get_value(order,'updated_at')
    
    new_order['customer_id']=get_value(order,'customer_id')
    
    new_order['state']=get_value(order,'state')

    new_order['tenders']=get_value(order,'tenders')

    if not new_order['customer_id']:
        customer_ids = []
        try:
            for tender in order['tenders']:
                if get_value(tender,'customer_id'):
                    customer_ids.append(get_value(tender,'customer_id'))
            new_order['customer_id'] = customer_ids[0]
        except:
            pass

    if new_order['customer_id']:
        customer = customers_api.retrieve_customer(new_order['customer_id'])
    
        try:
            new_order['first_name'] = get_value(customer.body['customer'],'given_name')
            new_order['last_name'] = get_value(customer.body['customer'],'family_name')
        except:
            print(customer.body)
    else:
        pass
        invoice = invoices[invoices['order_id']==new_order['id']]
        
        
        if len(invoice)>0:
            cust_id = list(invoice['primary_recipient'])[0]['customer_id']
            customer = customers_api.retrieve_customer(cust_id)
            try:
                new_order['first_name'] = get_value(customer.body['customer'],'given_name')
                new_order['last_name'] = get_value(customer.body['customer'],'family_name')
            except:
                print(customer.body)
            
    for item in order['line_items']:
        line_dict = new_order.copy()
        
        line_dict['variation_name']=get_value(item,'variation_name')
        line_dict['item_name']=get_value(item,'name')
        if 'raining' in line_dict['item_name']:
            print(item)
        line_dict['note']=get_value(item,'note')
        line_dict['total_money']=item['total_money']['amount']/100
        orders_format.append(line_dict) 


orders_df = pd.DataFrame(orders_format)

0 / 357
1 / 357
2 / 357
3 / 357
4 / 357
5 / 357
6 / 357
7 / 357
8 / 357
9 / 357
10 / 357
11 / 357
12 / 357
13 / 357
14 / 357
15 / 357
16 / 357
17 / 357
18 / 357
19 / 357
20 / 357
21 / 357
22 / 357
23 / 357
24 / 357
25 / 357
26 / 357
27 / 357
28 / 357
29 / 357
30 / 357
31 / 357
32 / 357
33 / 357
34 / 357
35 / 357
36 / 357
37 / 357
38 / 357
39 / 357
40 / 357
41 / 357
42 / 357
43 / 357
44 / 357
45 / 357
46 / 357
47 / 357
48 / 357
49 / 357
50 / 357
51 / 357
52 / 357
53 / 357
54 / 357
55 / 357
56 / 357
57 / 357
58 / 357
59 / 357
60 / 357
61 / 357
62 / 357
63 / 357
64 / 357
65 / 357
66 / 357
67 / 357
68 / 357
69 / 357
70 / 357
71 / 357
72 / 357
73 / 357
74 / 357
75 / 357
76 / 357
77 / 357
78 / 357
79 / 357
80 / 357
81 / 357
82 / 357
83 / 357
84 / 357
85 / 357
86 / 357
87 / 357
88 / 357
89 / 357
90 / 357
91 / 357
92 / 357
93 / 357
94 / 357
95 / 357
96 / 357
97 / 357
98 / 357
99 / 357
100 / 357
101 / 357
102 / 357
103 / 357
104 / 357
105 / 357
106 / 357
107 / 357
108 / 357
109 / 357
110 / 357
111 / 357
112 / 357
113 / 357
114 / 357
115 / 357
116 / 357
117 / 357
118 / 357
119 / 357
120 / 357
121 / 357
122 / 357
123 / 357
124 / 357
125 / 357
126 / 357
127 / 357
128 / 357
129 / 357
130 / 357
131 / 357
132 / 357
133 / 357
134 / 357
135 / 357
136 / 357
137 / 357
138 / 357
139 / 357
140 / 357
141 / 357
142 / 357
143 / 357
144 / 357
145 / 357
146 / 357
147 / 357
148 / 357
149 / 357
150 / 357
151 / 357
152 / 357
153 / 357
154 / 357
155 / 357
156 / 357
157 / 357
158 / 357
159 / 357
160 / 357
161 / 357
162 / 357
163 / 357
164 / 357
165 / 357
166 / 357
167 / 357
168 / 357
169 / 357
170 / 357
171 / 357
172 / 357
173 / 357
174 / 357
175 / 357
176 / 357
177 / 357
178 / 357
179 / 357
180 / 357
181 / 357
182 / 357
183 / 357
184 / 357
185 / 357
186 / 357
187 / 357
188 / 357
189 / 357
190 / 357
191 / 357
192 / 357
193 / 357
194 / 357
195 / 357
196 / 357
197 / 357
198 / 357
199 / 357
200 / 357
201 / 357
202 / 357
203 / 357
204 / 357
205 / 357
206 / 357
207 / 357
208 / 357
209 / 357
210 / 357
211 / 357
212 / 357
213 / 357
214 / 357
215 / 357
216 / 357
217 / 357
218 / 357
219 / 357
220 / 357
221 / 357
222 / 357
223 / 357
224 / 357
225 / 357
226 / 357
227 / 357
228 / 357
229 / 357
230 / 357
231 / 357
232 / 357
233 / 357
234 / 357
235 / 357
236 / 357
237 / 357
238 / 357
239 / 357
240 / 357
241 / 357
242 / 357
243 / 357
244 / 357
245 / 357
246 / 357
247 / 357
248 / 357
249 / 357
250 / 357
251 / 357
252 / 357
253 / 357
254 / 357
255 / 357
256 / 357
257 / 357
258 / 357
259 / 357
260 / 357
261 / 357
262 / 357
263 / 357
264 / 357
265 / 357
266 / 357
267 / 357
268 / 357
269 / 357
270 / 357
271 / 357
272 / 357
273 / 357
274 / 357
275 / 357
276 / 357
277 / 357
278 / 357
279 / 357
280 / 357
281 / 357
282 / 357
283 / 357
284 / 357
285 / 357
286 / 357
287 / 357
288 / 357
289 / 357
290 / 357
291 / 357
292 / 357
293 / 357
294 / 357
295 / 357
296 / 357
297 / 357
298 / 357
299 / 357
300 / 357
301 / 357
302 / 357
303 / 357
304 / 357
305 / 357
306 / 357
307 / 357
308 / 357
309 / 357
310 / 357
311 / 357
312 / 357
313 / 357
314 / 357
315 / 357
316 / 357
317 / 357
318 / 357
319 / 357
320 / 357
321 / 357
322 / 357
323 / 357
324 / 357
325 / 357
326 / 357
327 / 357
328 / 357
329 / 357
330 / 357
331 / 357
332 / 357
333 / 357
334 / 357
335 / 357
336 / 357
337 / 357
338 / 357
339 / 357
340 / 357
341 / 357
342 / 357
343 / 357
344 / 357
345 / 357
346 / 357
347 / 357
348 / 357
349 / 357
350 / 357
351 / 357
352 / 357
353 / 357
354 / 357
355 / 357
356 / 357

In [21]:
orders_df[orders_df['item_name']=='Training']['tenders']

200    [{'id': 'ndZg5btuErH3BXcswsPk4nB35aHZY', 'loca...
206    [{'id': '3FPlYoO9oFIZwpgARgBnBZrYoTMZY', 'loca...
214    [{'id': 'vB9mvNGgCRxqC6jVdij70W5Tew6YY', 'loca...
376                                                 None
377                                                 None
378    [{'id': 'DVKCHpA1yceNug4oIlsbLUfNPACZY', 'loca...
394                                                 None
395    [{'id': 'tiO6PGg0d7Jz7wZjpY0QX6GeZ8VZY', 'loca...
396    [{'id': 'Rez8cYMS0oJmthUOaYUqAwenmPfZY', 'loca...
397    [{'id': '5gU7nP8g5QkN49fZJbg2I0sPfGGZY', 'loca...
404    [{'id': 'DherY92ZtvUsA1GgodDvmscJGqCZY', 'loca...
405                                                 None
408    [{'id': 'dIteBjiemdTZaL153Lc1AHVlTAcZY', 'loca...
Name: tenders, dtype: object

# Get Correct columns and filter out unwanted orders

In [12]:
orders_df['customer_name']= orders_df['first_name'] + ' ' + orders_df['last_name']
match_fees_export = orders_df[(orders_df['state'].isin(['COMPLETED','OPEN'])) & (orders_df['tenders'].notnull())][['id', 'created_at', 'variation_name','item_name', 'customer_name', 'total_money', 'note']]
# match_fees_export = match_fees_export[match_fees_export['tenders'].notnull()]


match_fees_export = match_fees_export[(match_fees_export['customer_name'].notnull()) | (match_fees_export['note'].notnull())]


match_fees_export = match_fees_export[(match_fees_export['item_name'].fillna('').str.lower().str.contains('sub'))|(match_fees_export['item_name'].fillna('').str.lower().str.contains('training'))]

In [13]:
match_fees_export.columns = exist.columns

In [14]:
match_fees_export

,ID,Date,Cat,Item,Customer,Price,Notes
0,L8jU3V7OqgFJeWtNdihvOo7JPcBZY,2023-09-04T13:42:27.000Z,Full Game,Match Sub,Adam Platten,5.0,None
2,ZLfm2FvJNVRvMfdkRsl2SbE1OOPZY,2023-09-04T11:25:25.000Z,Full Game,Match Sub,Denver Lalonde,10.0,None

# Only upload new transactions

In [15]:
mg = pd.merge(left=match_fees_export, right=exist, how='left', on='ID', suffixes=['', '_old'])
not_in = mg[mg['Date_old'].isnull()][exist.columns]
len(not_in)

1

In [16]:
not_in

,ID,Date,Cat,Item,Customer,Price,Notes
0,L8jU3V7OqgFJeWtNdihvOo7JPcBZY,2023-09-04T13:42:27.000Z,Full Game,Match Sub,Adam Platten,5.0,None

In [17]:
not_in.fillna('NA', inplace=True)

# Add to Google sheet

In [18]:
append_to_sheet('Square Subs', SAMPLE_SPREADSHEET_ID_input, not_in)